{
  "env": {
    "node": true
  },
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "parser": "babel-eslint",
  "overrides": [
   {
    "files": ["src/index.js"],
       "rules": {
          "no-cond-assign": "off"
       }
   }
  ]
}
