{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "index.js"
      ],
      "rules": {
        "no-cond-assign": "off"
      }
    }
  ]
}
